.profils-presentation {
    background-color: white;
}

.presentation-header {
    width: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.pseudo {
    font-size: 30px;
}


.presentation-header * {
    margin: 7px;
}

.presentation {
    background-color: white;
    border-bottom: 1px solid rgba(43,62,105, 0.2);
    width: 96%;
    margin: 2%;
    border-radius: 5px;
}

.profils-presentation-info {
    display: flex;
    flex-wrap: wrap;
}

.info {
    padding: 10px 50px;
}

#subButton {
    color: white;
    border-radius: 5px;
    padding: 5px 50px;
    cursor: pointer;
}

#subButton.follow {
    background-color: rgb(87, 163, 91);
}

#subButton:hover.follow {
    background-color: rgb(74, 136, 77);
}

#subButton.unfollow {
    background-color: rgb(175, 5, 5);
}

#subButton:hover.unfollow {
    background-color: rgb(141, 1, 1);
}

#publication-header-edit {
    float: right;
}

.profil-color-header {
    height: 15vh;
    background-color: rgb(59, 98, 226);
    font-size: 25px;
}

.profil-color-header i {
    margin-left: 0.8%;
    color: white;
}

.edit-profile .presentation-header {
    display: flex;
    justify-content: space-between;
}

.stats {
    margin-left: 0.4%;
}


