.App-logo {
	height: 40vmin;
}

html * {
	font-family: "Helvetica";
}

.App-content {
	text-align: center;
	background-color: #2b3e69;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header {
	min-height: 15vh;
	background-color: #2b3e69;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-style: solid;
	border-width: 0.05px;
	border-color: rgb(40, 49, 58);
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}

.form-check {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.form-check-input {
	margin-top: 0em !important;
	margin-left: 1% !important;
}

.header a img {
	float: left;
	min-height: 10px;
}

.header a {
	width: 5%;
	min-width: 50px;
	min-height: 10px;
	position: absolute;
}

.titre-budgie {
	width: 30%;
}

.icons {
	width: 30%;
	right: 0%;
	position: absolute;
	text-align: center;
	top: 0%;
	display: flex;
	justify-content: center;
}

.icon-bell {
	height: 30px;
	display: inline-block;
	width: 50%;
}

.fa-bell {
	color: #ffffff;
	font-size: 100%;
}

.icon-signout {
	height: 30px;
	display: inline-block;
	width: 50%;
}

.authentification-form {
	font-size: 80%;
	width: 20%;
	margin-left: 40%;
}

.registration-form {
	font-size: 80%;
	width: 20%;
	margin-left: 40%;
	margin-bottom: 100px;
}

.p-inputtext {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem !important;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box !important;
	border: 1px solid #ced4da !important;
	border-radius: 0.25rem !important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.title-header {
	text-align: center;
	font-size: 150%;
	color: white;
}

.body {
	width: 100%;
	min-height: 100vh;
	background-color: #2b3e69;
	display: inline-block;
}

.title-messages {
	color: rgb(218, 218, 218);
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.register-link {
	color: white;
}

.connection-button {
	left: 0;
	width: 100%;
}

.connection-button:hover {
	left: 0;
	width: 100%;
	background-color: #2b3e69 !important;
	color: white !important;
}

.register-button {
	margin-top: 10% !important;
	background-color: #2b3e69 !important;
	color: white !important;
	right: 0;
	width: 100%;
}

.register-button:hover {
	margin-top: 10% !important;
	background-color: #f4f4f4 !important;
	color: black !important;
	right: 0;
	width: 100%;
}

.message-div {
	text-align: left;
	border-style: solid;
	border-width: 0.05px;
	border-color: #6a6b6c;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	font-size: 50%;
	color: #6a6b6c;
	text-decoration: none;
	padding: 15px;
}

.messages-body {
	background-color: #1e2125;
	min-height: 300vh;
	display: inline-block;
	width: 30%;
	overflow: hidden;
}

.publications-body,
.profils-body {
	color: black;
	overflow-y: scroll;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
}

.discussion-body {
	color: black;
	background-color: rgb(182, 182, 182);
	min-height: 300vh;
	display: inline-block;
	width: 70%;
	overflow: hidden;
}

.notifications-body {
	background-color: #dae8fc;
	color: black;
	min-height: 300vh;
	display: inline-block;
	width: 70%;
	overflow: hidden;
}

.title-notifications {
	color: rgb(30, 33, 37);
}

.header-notifications {
	display: inline-block;
}

.notifications-div {
	text-align: left;
	border-style: solid;
	border-width: 0.05px;
	border-color: rgb(83, 83, 83);
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	font-size: 50%;
	color: rgb(83, 83, 83);
	text-decoration: none;
	padding: 15px;
}

.sidebar-item-text a {
	font-size: 150%;
	color: rgb(83, 83, 83);
	font-family: "Gill Sans Extrabold", sans-serif;
}

.MuiTypography-root {
	text-align: center !important;
}

.sidebar-item-text a i span {
	color: rgb(83, 83, 83);
	width: 100%;
	font-family: "Gill Sans Extrabold", sans-serif;
}

.logout-item {
	position: absolute !important;
	color: white;
	right: 0;
	top: 0;
	z-index: 100;
	padding-right: 25px;
	padding-top: 25px;
}

.App-link {
	color: #09d3ac;
}

.searchBar {
	display: flex;
	justify-content: center;
	text-align: center;
}

.searchBar div {
	width: 30%;
}

.profile-name {
	right: 0;
	top: 0;
	min-width: 16vh;
	min-height: 5vh;
	position: absolute;
}

.profile-name a{
  color: white;
  width: 100%;
  top: 12vh;
  position: absolute;
  font-size: 90%;
}

.profile-name a:hover {
	color: rgb(216, 216, 216);
	text-decoration: none;
	cursor: pointer;
}

.searchBar input {
	border-radius: 15px;
	outline: none;
	width: 100%;
}

#logout-button {
	color: rgb(255, 255, 255);
	font-size: 100%;
	margin-bottom: 0;
}
