.publication-header {
    background-color: rgba(43,62,105, 0.1);
    width: 100%;
}

.publication-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.publication {
    position: relative;
    background-color: white;
    width: 96%;
    left: 2%;
    border-radius: 5px;
    margin-bottom: 25px;
}

#publication_new_input {
    margin: 0;
    padding: 15px;
    width: 2000px;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    bottom:5px;
}

#publication-new-publier {
    background-color: rgb(43,62,105);
    color: white;
    border: none;
    border-radius: 18px;
    padding: 8px 50px 8px 50px;
}


#publication-new-publier:disabled {
    opacity: 0.6;
}

.image-upload {
    position: relative;
}

.image-upload > input
{
    display: none;
}

.image-upload i
{
    cursor: pointer;
    color: white;   
}

label {
    background-color: rgb(43,62,105);
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
    margin-left: 2px;
    position: absolute;
    cursor: pointer;
    margin-bottom: 0;
}

.load-budges {
    text-align: center;
}

.no-budges {
    text-align: center;
}

