.reactions {
	display: inline-flex;
}

.publication-header {
	display: flex;
	justify-content: space-between;
}

.publication-header-name a {
	color: black;
	text-decoration: none;
}

.list-md.hydrated {
    width: 100%;
}

.ion-focusable.hydrated {
    margin-bottom: 8px;
}

.publication-header-buttons {
	display: flex;
}

.publication-header-close {
	width: 30px;
	color: rgb(43, 62, 105);
	margin: 5px;
	font-size: 20px;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
}

.publication-header-edit {
	color: rgb(43, 62, 105);
	font-size: 20px;
	margin: 5px;
	cursor: pointer;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

.publication-header-name,
.publication-body {
	margin-left: 10px;
	display: inline-flex;
}

.publication-img-item {
    height: auto !important;
    width: 70% !important;
    margin-left: 15%;
    padding-top: 16px;
    padding-bottom: 16px;
}

#tempMessage {
	width: 1800px;
}
